body {
  margin-left: 0px;
  margin-top: 0px;
}

.heading {
  margin: 0px 0px 10px 0px;
  padding: 10px;
  position: fixed;
  z-index: 2;
  background-color: white;
  width: 300px;
}
h1 {
    font-size: 24px;
}

.content-links {
  text-decoration: none;
  display: block;
  color: black;
  margin: 20px 0px;
  padding: 10px;
  border: 1px solid black;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  width: 300px;
  font-weight: 400;
}

.links-container {
  left: 0px;
  overflow: scroll;
  margin-top: 100px;
  z-index: 1;
  border-top: 1px solid black;
  
}

.links-section {
  width: 321px;
  border-right: 1px solid black;
  display: flex;
  justify-content: start;
  position: fixed;
  height: 100%;

}

main {
  display: flex;
  font-family: "Open Sans", sans-serif;
}

.contents-section {
  margin-left: 340px;
  margin-right: 20px;
  font-weight: 300;
}
.contents-section p {
  margin-left: 20px;
}

.code-container {
  margin-left: 40px;
  background-color: rgba(241, 232, 232, 0.6);
  display: flex;
  justify-content: left;
  align-items: center;
  height: 80px;
  border-radius: 10px;
  
}
code {
  width: 60%;
  margin: 10px;
  padding: 10px;
  line-height: 1.5;
}
.mdn-link {
  color: blue;
}

